*{
    margin: 0;
    padding:0;
}
body{
    background-color:rgb(87, 127, 206);
}
.head{
    align-items: center;   
    height: 60px;
}
marquee{
    font-size: 25px;
    color: aliceblue;
    font-weight: bolder;    
}

.head h1{
    color:white;
    text-decoration: dashed;
    padding-top: 8px;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

.out{
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.out h1{
    font-size: 30px;

}
.but{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.but input{
    
    background-color:white;
    width:25%;
    height:40px;  
    text-align: center;
    color:rgb(87, 127, 206);
    font-weight: bolder;
    font-size: 20px;
    

}
input[type="submit"]:hover{
      box-shadow:  inset 2px 2px 1px white ;
}
.but input:hover{
    text-shadow:2px 2px  1px black;
}
img{
    width: 50%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 6px ;
}